*{
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}


header{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#menu, #close{
    height: 50px;
    width: 50px;
    float: right;
    border: none;
}

#username{
    text-align: center;
    padding-top: 10px;
}

#mobileMenu{
    display: none;
}

header li{
    list-style-type: none;
    display: inline;
    padding: 0 20px;
    font-size: 18px;

}

header a{
    text-decoration: none;
    color: white;
}

header a:hover{
    font-weight: bold;
    border-bottom: 2px solid white;
    cursor: pointer;
}




#logo{
    height: 60px;
    height: 60px;
}

#logoArea{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 40px;
}


#logout{
    float: right;
    width: 70px;
    height: 35px;
    margin-right: 15px;
    cursor: pointer;
}

.buttons{
    width: 125px;
    height: 50px;
    font-size: 12px;
    border-radius: 30px;
    background: none;
    color: white;
    border: 2px solid white;
}

.buttons:hover{
    background:white;
    color: #FE9985;
    cursor: pointer;
}

body, html{
    background: #FE9985;
    width: 100%;
    margin: 0;
}

.allLogs{
    margin: 0 auto;
    text-align: center;
}

.eachLog{
    color: #FE9985;
    background: #FFE3DC;
    display: inline-block;
    float: inherit;
    margin: 50px;
    padding: 50px;
    border-radius: 10%;
    text-align: left;
    width: 20%;

}

.eachLog p { 
    margin:10px;
    border-bottom: 2px solid white;  
    padding-bottom: 4px;
    padding: 10px 0;
}

#logDate{
    color: #FE9985;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}

body {
    color: #fff;
    font-size: 1.0em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
    font-weight: 1;
}


@media only screen and (max-width: 1500px) {

    .eachLog{
        color: #FE9985;
        background: #FFE3DC;
        display: inline-block;
        float: inherit;
        margin: 50px;
        padding: 50px;
        border-radius: 10%;
        text-align: left;
        width: 30%;

    }
}

@media only screen and (max-width: 1150px) {

    .eachLog{
        color: #FE9985;
        background: #FFE3DC;
        display: inline-block;
        float: inherit;
        margin: 50px;
        padding: 50px;
        border-radius: 10%;
        text-align: left;
        width: 50%;

    }
}



@media only screen and (max-width: 800px) {

    .eachLog{
        color: #FE9985;
        background: #FFE3DC;
        display: inline-block;
        float: inherit;
        margin: 50px;
        padding: 50px;
        border-radius: 10%;
        text-align: left;
        width: 80%;

    }

}



@media only screen and (max-width: 768px) {
    header li{
        display: block;
        padding:2px 0px;
        font-size: 14px;

    }

    header{
        height: 30%;
    }

    .nav{
        margin-right: 5px;
    }

    .logo{
        display: none;
    }

    #logout{
        margin-right: 0px;
    }
    .nav, #close, #subMobileMenu{
        display: none;
    }
    
    #mobileMenu{
        display: inline;
    }
    

}

